h2{
    font-size: 100px;/* Tamaño de la imagen*/
    font-weight: 900; /*Grosor de la letra*/
    font-style: oblique; /* estilos de letra */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}